*,*::after,*::before{
    font-family: 'Noto Sans TC', sans-serif;
}

.special-font{
    font-family: 'Shrikhand', cursive !important;
}

.number-font{
    font-family: 'Saira Extra Condensed', sans-serif;
}