<footer>
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-md-center py-10 ps-7 ps-md-0">
        <div class="pb-1 pb-md-0">
            <a href="index.html" class="special-font text-dark fs-16">
                ALPHABOX+
                <p class="fs-8 d-none d-md-block fw-bold">Copyright © 2023 Hexschool.</p>
            </a>
        </div>
        <i class="material-symbols-outlined py-2 fs-40">emergency</i>
        <ul class="d-flex flex-column flex-md-row fw-bold">
            <li>
                <a href="about-us.html" class="px-0 p-md-3 pb-1 w-100">關於我們</a>
            </li>
            <li>
                <a href="product-diane.html" class="px-0 p-md-3 pb-1 w-100">產品資訊</a>
            </li>
            <li>
                <a href="faq.html" class="px-0 p-md-3 pb-1 w-100">常見問題</a>
            </li>
            <li>
                <a href="#" class="px-0 p-md-3 pb-1 w-100">隱私政策</a>
            </li>
        </ul>
        <p class="fs-8 d-block d-md-none fw-bold mt-1 my-md-0">Copyright © 2023 Hexschool.</p>
    </div>
</footer>
<script type="module" src="../main.js"></script>