<nav class="navbar-bg">
    <div class="navbar navbar-expand-lg position-relative">
        <div class="container d-flex align-items-center">
            <h1 class="py-4 col-lg-3">
                <a class="navbar-brand special-font text-white fs-12 fs-md-16" href="index.html">ALPHABOX+</a>
            </h1>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="material-symbols-outlined text-white fs-16">menu</i>
            </button>
            <div class="collapse navbar-collapse text-center py-5 py-lg-0 justify-content-between"
                id="navbarSupportedContent">
                <ul class="d-lg-flex align-items-center justify-content-center col-xl-8">
                    <li>
                        <a href="product-diane.html" class="py-3 py-lg-6 px-lg-4 px-xl-5 w-100">產品</a>
                    </li>
                    <li>
                        <a href="about-us.html" class="py-3 py-lg-6 px-lg-4 px-xl-5 w-100">關於我們</a>
                    </li>
                    <li>
                        <a href="news.html" class="py-3 py-lg-6 px-lg-4 px-xl-5 w-100">最新消息</a>
                    </li>
                    <li>
                        <a href="faq.html" class="py-3 py-lg-6 px-lg-4 px-xl-5 w-100">FAQ</a>
                    </li>
                    <li>
                        <a href="contact-us.html" class="py-3 py-lg-6 px-lg-4 px-xl-5 w-100">聯絡我們</a>
                    </li>
                </ul>
                <ul class="d-lg-flex align-items-center">
                    <li>
                        <a href="sign-up.html" class="py-3 py-lg-6 px-lg-3 w-100">註冊</a>
                    </li>
                    <li>
                        <a href="login.html" class="py-3 py-lg-6 px-lg-3 w-100">登入</a>
                    </li>
                    <li class="ms-lg-5 py-2 py-lg-4">
                        <a href="login.html" class="d-inline-block text-dark btn btn-light rounded-1 text-center">
                            <i class="material-symbols-outlined align-bottom">point_scan</i><p class="ms-1 d-inline">訂閱</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>