.use-share {
    &-card > div:first-child {
        aspect-ratio: 1 / 1;
        background-color: #300871;
    }

    &-card:nth-of-type(even) > div:first-child {
        color: $black;
        background-color: $white;
    }
}