.navbar-bg {
  background: #7000FF;

}

.navbar {
  z-index: 2;
}

.navbar-toggler {
  border: 0px solid transparent;
}

.navbar::after {
  content: '';
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  //background: $white;
  box-shadow: 0px 4px 8px 0px #0000008b;
}

@media (max-width:991px) {
  .navbar-collapse {
    position: absolute;
    z-index: 1;
    top: 102%;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #7000FF 0%, #11002D 100%);
  }
}