.about-us {
    &-bg {
        background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000000 100%);
    }

    .col-3-5 {
        width: 31.5%;
    }

    .dividing-line {
        height: 12px;
        background-color: $black;
    }

    .highlighter {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;
            height: 12px;
            background: #E9E2F3;
        }
    }
}

@include md {
    .about-us {
        .col-md-3-5 {
            width: 31.5% !important;
        }
    }
}