.header-bg {
  margin-bottom: -10%;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10%;
    background: url(../images/home_background.png);
  }

  .copyright {
    color: #AD93CF;
  }

  .product img {
    transition: all .5s;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0px 0px 16px 8px #8F00FFCC;
    }
  }

  .product a:hover {
    color: $white !important;
  }

  .col-2-5 {
    width: 23.5%;
  }

  .col-5-5 {
    width: 49%;
  }
}

.what-is-bg {
  &::after {
    content: '';
    position: absolute;
    z-index: -3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000000 100%);
  }

  //half
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    width: 50%;
    height: auto;
    top: 0;
    bottom: 0;
    filter: blur(15px);
    background: url(../images/carousel_background.png) no-repeat center / cover;
  }

  .container-fluid:first-child {
    padding-top: 10%;
  }

  //line
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 1px;
    background: $white;
  }

  .rectangle {
    height: 40px;
    background-image: linear-gradient(90deg, #7000FF 1.22%, #11002D 116.05%);

    &-reverse {
      height: 40px;
      background: linear-gradient(270deg, #7000FF 1.22%, #11002D 116.05%);
    }
  }
}

.new {
  li {
    @include hover-move-arrow;
  }
}

.use-share-bg {
  position: relative;

  &::after {
    content: '';
    position: absolute !important;
    left: 0;
    right: 0;
    top: 70%;
    bottom: 0;
    background: url(../images/use_share_bg.png) no-repeat bottom;
  }
}

.contact-us {
  .radius-line {
    border: 6px solid $white;
    border-radius: 12px;
  }
}

.product-card {
  &-content {
    background-color: $black;
    transition: .5s;

    &:hover {
      background-color: #00000080;
    }

    @include hover-move-arrow;
  }
}

/* min */
@media (min-width:1870px) {
  .header-bg {
    .ls-xxxl-250 {
      letter-spacing: 2.5em !important;
    }
  }

  .product-card-item {
    .number {
      font-size: 400px !important;
    }
  }
}

@media (min-width: 1420px) {
  .header-bg {
    .col-xxl-2-5 {
      width: 23.5% !important;
    }
  }

  .product-card-item {
    .number {
      font-size: 300px !important;
    }
  }
}

@include lg {
  .header-bg {
    .col-lg-2-5 {
      width: 23.5% !important;
    }

    .col-lg-5-5 {
      width: 49% !important;
    }

    .product-img {
      max-width: 48%;
    }
  }
}

/* max */
@media (max-width: 991px) {
  .header-bg {
    margin-bottom: -25%;

    &::after {
      bottom: 5%;
      background: linear-gradient(180deg, #7000FF 0%, #11002D 100%);
    }
  }

  /* background */
  .what-is-bg {
    &::before {
      width: 100%;
    }

    .container-fluid:first-child {
      padding-top: 25%;
    }
  }

  .product-card-content {
    background-color: #00000080;
  }
}

@media (max-width: 374px) {
  .header-bg {
    h2 {
      letter-spacing: .9em !important;
    }
  }
}