.or-dividing-line {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 53.333%;
        top: 50%;
        height: 1px;
        background-color: #828282;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        left: 53.333%;
        top: 50%;
        height: 1px;
        background-color: #828282;
    }
}

.terms-modal {
    ol>li>ol>li {
        list-style-type: decimal !important;
        list-style-position: inside !important;
        margin-bottom: 24px;
    }

    li {
        margin-bottom: 16px;
    }

    .btn {
        aspect-ratio: 1 / 1;
        box-shadow: 0px 4px 4px 0px #00000014;
        transform: translate(50%, -50%);
    }

    .modal-content{
        max-height: 600px;
    }

    /* 整個捲軸 */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* 捲軸的軌道 */
    ::-webkit-scrollbar-track {
        background: #E9E2F3;
    }

    /*捲軸尚未滑到的軌道*/
    ::-webkit-scrollbar-track-piece {
        background: #E9E2F3;
    }

    /* 滑動的區塊 */
    ::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 10px;
    }

    /* 滑鼠移到滑動的區塊上 */
    ::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
}