<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diane | ALPHABOX+</title>
</head>

<body>
    <header>
        <%- include('./layout/navbar'); -%>
            <!-- product-nav -->
            <ul class="d-flex justify-content-center column-gap-2 column-gap-md-6 py-4 bg-dark">
                <li>
                    <a href="product-diane.html"
                        class="product-nav-link btn btn-outline-light special-font fs-8 fs-lg-12 px-4 px-sm-10 px-lg-19 px-xl-20 py-1 py-sm-2 rounded-pill">Diane</a>
                </li>
                <li>
                    <a href="product-felix.html"
                        class="product-nav-link btn btn-outline-light special-font fs-8 fs-lg-12 px-4 px-sm-10 px-lg-19 px-xl-20 py-1 py-sm-2 rounded-pill">Felix</a>
                </li>
                <li>
                    <a href="product-karina.html"
                        class="product-nav-link btn btn-outline-light special-font fs-8 fs-lg-12 px-4 px-sm-10 px-lg-19 px-xl-20 py-1 py-sm-2 rounded-pill">Karina</a>
                </li>
                <li>
                    <a href="product-vito.html"
                        class="product-nav-link btn btn-outline-light special-font fs-8 fs-lg-12 px-4 px-sm-10 px-lg-19 px-xl-20 py-1 py-sm-2 rounded-pill">Vito</a>
                </li>
            </ul>
            <!-- banner -->
            <div class="d-flex bg-dark position-relative flex-column flex-lg-row">
                <!-- swiper -->
                <div class="swiper product-swiper mx-0 col-lg-6">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/images/diane_square1.png" alt="diane-1" class="mw-100">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/diane_square2.png" alt="diane-2" class="mw-100">
                        </div>
                    </div>
                    <div class="swiper-button-prev hover-scale w-auto">
                        <i class="material-symbols-outlined fs-24 fs-sm-40">arrow_circle_left</i>
                    </div>
                    <div class="swiper-button-next hover-scale w-auto">
                        <i class="material-symbols-outlined fs-24 fs-sm-40">arrow_circle_right</i>
                    </div>
                </div>
                <div class="container col-lg-6 text-light align-self-center px-lg-10 py-6 position-relative position-lg-static">
                    <h2 class="special-font fs-20 fs-lg-32 mb-6">Diane</h2>
                    <p class="mb-4"><span class="fw-bold">知識型</span><br>學術領導/知識分享/智能問答</p>
                    <a href="login.html" class="d-block">
                        <picture class="hover-move d-block mb-36 mb-lg-4">
                            <source media="(max-width: 991px)" srcset="../assets/images/line_end_arrow_notch_sm.png" />
                            <img src="../assets/images/line_end_arrow_notch_big.png" alt="end_arrow">
                        </picture>
                    </a>
                    <img src="../assets/images/circle_down.png" alt="brand-circle"
                        class="brand-circle-down position-absolute start-50 text-center d-block mx-auto">
                </div>
            </div>
    </header>
    <main>
        <section class="pt-20 pb-30">
            <div class="container">
                <div class="d-flex justify-content-between mb-8 mb-lg-30">
                    <div class="col-md-4">
                        <i class="material-symbols-outlined fs-20 align-middle me-3">emergency</i>
                        <h2 class="d-inline-block mb-8">學術領導/知識分享/智能問答</h2>
                        <p>歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
                    </div>
                    <p class="d-none d-md-block">ALPHABOX+</p>
                </div>
                <ul class="d-flex justify-content-between flex-wrap row row-gap-6 row-gap-md-26 product-point">
                    <li class="col-md-6 col-lg-4">
                        <h3 class="mb-4 mb-lg-8 border-bottom border-lg-bottom-0 border-2 border-dark">先進的3D投影技術</h3>
                        <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
                    </li>
                    <li class="col-md-6 col-lg-4">
                        <h3 class="mb-4 mb-lg-8 border-bottom border-lg-bottom-0 border-2 border-dark">人性化的互動設計</h3>
                        <p>Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Diane 進行自然、流暢的對話。</p>
                    </li>
                    <li class="col-md-6 col-lg-4">
                        <h3 class="mb-4 mb-lg-8 border-bottom border-lg-bottom-0 border-2 border-dark">豐富的應用場景</h3>
                        <p>無論是家庭娛樂、教育培訓還是商業展示，Diane 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
                    </li>
                    <li class="col-md-6 col-lg-4">
                        <h3 class="mb-4 mb-lg-8 border-bottom border-lg-bottom-0 border-2 border-dark">高度自主性</h3>
                        <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
                    </li>
                    <li class="col-md-6 col-lg-4">
                        <h3 class="mb-4 mb-lg-8 border-bottom border-lg-bottom-0 border-2 border-dark">先進的3D投影技術</h3>
                        <p>Diane 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
                    </li>
                    <li class="col-md-6 col-lg-4">
                        <h3 class="mb-4 mb-lg-8 border-bottom border-lg-bottom-0 border-2 border-dark">簡單易用的操作界面</h3>
                        <p>Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- use-share -->
        <section class="use-share gradient-radiation-reverse text-light fw-bold pt-15 pb-20 pt-lg-40 pb-lg-54 overflow-hidden">
            <div class="container">
                <div class="row">
                    <h2 class="fs-20 fs-lg-24 fw-bold ls-100 mb-3">使用分享</h2>
                    <p class="mb-10 col-lg-4">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
                </div>
                <ul class="row gy-6">
                    <li class="col-md-6 col-lg-4 use-share-card">
                        <div class="p-6 p-xl-10 d-flex flex-column">
                            <span class="d-inline-block mb-8">Zona<i
                                    style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48"
                                    class="material-icons fs-4 mx-2">circle</i>Taipei</span>
                            <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                            <span class="mt-auto"><i class="material-icons fs-8 ls-80">circlecircle</i>ALPHABOX+
                                Dianne</span>
                        </div>
                    </li>
                    <li class="col-md-6 col-lg-4 use-share-card">
                        <div class="p-6 p-xl-10 d-flex flex-column">
                            <span class="d-inline-block mb-8">Lin<i
                                    class="material-icons fs-4 mx-2">circle</i>Chiayi</span>
                            <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                            <span class="mt-auto"><i class="material-icons fs-8 ls-80">circlecircle</i>ALPHABOX+
                                Felix</span>
                        </div>
                    </li>
                    <li class="col-md-6 col-lg-4 use-share-card">
                        <div class="p-6 p-xl-10 d-flex flex-column">
                            <span class="d-inline-block mb-8">云<i
                                    class="material-icons fs-4 mx-2">circle</i>Taipei</span>
                            <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                            <span class="mt-auto"><i class="material-icons fs-8 ls-80">circlecircle</i>ALPHABOX+
                                Dianne</span>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </section>
    </main>
    <%- include('./layout/footer'); -%>
</body>

</html>